<%- include('header.ejs') %>


<% if (exists.length !=0) { %>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
          Email is already exists
        </div>
      </div>
<% } %>

<div class="container my-5 py-5">
    <div class="col-md-5 m-auto text-center">
        <form action="/handleSignUp" method="POST">
            <div class="form-group">
                <input value="<%= oldInputs?oldInputs.name :'' %>" placeholder="Enter your name" name="name" type="text" class=" form-control" />
                <% if (error.find(e=>e.param=='name')) { %>
                    <div class="alert alert-success" role="alert">
                     invalid  name
                      </div>
                <% } %>
                
            </div>
            <div class="form-group">
                <input value="<%= oldInputs?oldInputs.email :'' %>" placeholder="Enter email" type="email" name="email" class="form-control" />
                <% if (error.find(e=>e.param=='email')) { %>
                    <div class="alert alert-success" role="alert">
                     invalid  email
                      </div>
                <% } %>
               
            </div>
            <div class="form-group">
                <input value="<%= oldInputs?oldInputs.password :'' %>"
                placeholder="Enter you password" type="password" name="password" class="form-control" />
                <% if (error.find(e=>e.param=='password')) { %>
                    <div class="alert alert-success" role="alert">
                     invalid  password
                      </div>
                <% } %>
                
            </div>
            <div class="form-group">
                <input value="<%= oldInputs?oldInputs.confirmPassword :'' %>"
                placeholder="confirm Password" type="password" name="confirmPassword" class="form-control" />
                <% if (error.find(e=>e.param=='confirmPassword')) { %>
                    <div class="alert alert-success" role="alert">
                      confirmation password is invalid
                      </div>
                <% } %>
               
            </div>
            <button type="submit" class="btn btn-info w-100">SignUp</button>
        </form>
    </div>
</div>


<%- include('footer.ejs') %>